
# Login access list
#
# All hosts in the login access list (begins with 'L') are checked at
# login (server startup) time. If access is 'yes' the host can login
# and count messages without special access.

L:localhost:Y
L:*:N

# Full access list
#
# All hosts in the full access list (begins with 'A') are checked if the
# server gets the 'login' command.

# One user in this file can be configured by the `debconf' system, the next one.
# Remove this comment if you don't want any configuration to happen.
A:localhost:RW:username:*invalid*password*:/var/spool/vbox/ttyI6:incoming
# A:localhost:RW:nicole:xxx:/var/spool/vbox/nicole:incoming

A:*:!:!:!:!:!
