
# CALLERIDS
#
# Format: PATTERN SECTION REALNAME

[CALLERIDS]

931784051[3-4]	HE_I_KNOW_YOU		Michael Herold
9317840044	HE_I_KNOW_YOU		Nicole Sauvage
*		-			*** Unknown ***

# RINGS
#
# Format: TIME DAYS RINGS

[RINGS]

#
# 20		= 20:00:00
# 20:15		= 20:15:00
#
# 20		= 20:59:59
# 20:15		= 20:15:59
# 21:14		= 21:14:59
#
#
#


#20:15-21:14,0-8,23:15,22:30-23		MO,DI,MI,DO,FR,SA,SO	5
*		*			30

# [USERSECTIONS]
#
# Format: TIME DAYS STANDARD RECTIME [FLAG] [...]

[STANDARD]

20   DO   aktex.msg      90   SCRIPT=standard.tcl RINGS=6 RINGSIFNEW=4
*    *	  standard.msg   90   SCRIPT=standard.tcl RINGS=6

[HE_I_KNOW_YOU]

*   *   standard.msg	 30   SCRIPT=standard.tcl


